html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #111111;
    color: #fff;
    font-family: Inter, sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
}

a {
    all:unset;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}
a:visited {
    all:unset;
}

.logo {
    height: 35px;
    width: 35px;
    margin: 0 0 30px 0;
    border-radius: 2000px;
    background-image: radial-gradient(transparent 27%, #fff);
    cursor: pointer;
}

#sidebar-container {
    width: 270px;
    flex-shrink: 0;
}

.sidebar {
    width: 209px;
    height: 100vh;
    border-right: 1px solid #2f2f2f;
    padding: 30px;
    position: fixed;

}

#view {
    padding: 35px 50px;
    flex-shrink: 0;
    flex-grow: 1;
}

.view-header {
    position: relative;
    user-select: none;
}

.view-header-controls {
    position: absolute;
    right: 0;
    top: 0;

}

.view-header-controls .button {
    background-color: #fff;
    color: #000;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: -2px;

}

h1 {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
}

h1 span {
    color: rgba(255, 255, 255, 0.45);
    font-weight: 600;
    padding: 0 10px;
}

h1 a, h1 a:visited {
    color: #b2b2b2;
}

h1 a:hover {
    text-decoration: underline;
}

#syncing {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
    color: #8f8f8f;
    margin: 0 15px;
    position: relative;
    top: -5px;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}


.view-header p {
    max-width: 500px;
    padding: 20px 0;
    line-height: 25px;
    color: #b2b2b2;
}

#control-menu {
    user-select: none;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0ms;
    transition-timing-function: ease-out;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    color: #000;
    padding: 30px;
}

#control-menu h3 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 10px;
}

#control-menu p {
    margin-bottom: 15px;
    line-height: 25px;
}

#control-menu input {
    width: 100%;
    padding: 12px 20px 10px 20px;
    background: #f3f3f3;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
}

#control-menu input:hover {
    background: #ececec;
}

#control-menu input:focus {
    background: #ececec;
    outline: 0;
    box-shadow: none;
}

#control-menu button {
    background: none;
    border:none;
    font-weight: 600;
    font-size: 15px;
    padding: 0 20px 0 0;
    transition: 200ms;
    margin-right: 10px;
    cursor:pointer;
    border-radius: 100px;
    transition-duration: 0ms;
    height: 25px;
}

#control-menu button:hover {
    background-color: #00b220;
    color: #fff;
}

#control-menu .confirm:hover {
    background-color: #00c42e;
}

#control-menu .cancel:hover {
    background-color: red;
}

#control-menu button span {
    background-color: #fff;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    color: #fff;
    margin-right: 10px;
    display : inline-block;
}
#control-menu button div {
    display : inline-block;
    line-height: 25px;
    vertical-align: top;
}

#modal-notif {
    display: none;
    margin-top: 15px;
    font-weight: 600;
    color: red;
}

@-moz-document url-prefix() {
    #control-menu button div {
        position: relative;
        top: -1px;
    }
}

#click-sink {
    z-index: 50;
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    pointer-events: none;
}

.line {
    display: inline-block;
    width: 15px;
    height: 6px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 4px;
}

.line-dark .line {
    background-color: rgba(0, 0, 0, 0.15)!important;
}

.load-2 .line:nth-last-child(1) {animation: loadingB 1.5s 1s infinite;}
.load-2 .line:nth-last-child(2) {animation: loadingB 1.5s .5s infinite;}
.load-2 .line:nth-last-child(3) {animation: loadingB 1.5s 0s infinite;}

@keyframes loadingB {
    0 {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

.view-content {
    margin-top: 10px;
}

.view-content table {
    width: 100%;
}

.view-content th {
    text-transform: uppercase;
    font-size: 11px;
    text-align: left;
    font-weight: 500;
    border-bottom: 1px solid #494949;
    padding-bottom: 15px;
}

.view-content td {
    padding: 20px 0;
    border-bottom: 1px solid #2d2d2d;
    cursor:pointer;
}

.view-content tr:hover:not(tr:first-child) {
    background: #0e0e0e;
}

.view-content tr:hover .primary {
    background: #fff;
    color: #000;
    padding: 4px 10px;
    border-radius: 99px;
}

.view-content tr:hover .click-to-open{
    display: inline;
}

.click-to-open {
    display: none;
    padding-left:12px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.58);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

.primary {
    font-weight: 600;
    font-size: 15px;
    display: inline;
}

.number {
    font-family: monospace;
}

.bold {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
}

.high-vis {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline;
    padding: 3px 8px;
    font-weight: 600;
    font-size: 11px;
    border-radius: 5px;
}

.valid {
    background-color: rgba(34, 255, 0,.2);
    color: rgb(34, 255, 0);
}

.invalid {
    background-color: rgba(255, 0, 0, 0.2);
    color: rgb(255, 0, 0);
}

