html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #111111;
    color: #fff;
    font-family: Inter, sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    padding-bottom: 12px;
}

a {
    all: unset;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

a:visited {
    all: unset;
}

.logo {
    height: 35px;
    width: 35px;
    margin: 0 0 30px 0;
    border-radius: 2000px;
    background-image: radial-gradient(transparent 30%, #fff);
    cursor: pointer;
    display: inline-block;
}

.logo-text {
    background-color: #fff;
    color: #000;
    padding: 4px 12px;
    border-radius: 99px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 8px;
    margin-left: 15px;
}

#sidebar-container {
    width: 270px;
    flex-shrink: 0;

}

.sidebar {
    width: 209px;
    border-right: 1px solid #2f2f2f;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    user-select: none;
}

#sidebar-links {

}


#sidebar-links .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
}

#sidebar-links .item {
    display:grid;
}

#sidebar-links .item div:first-child {
    filter: invert(100%);
    height: 15px;
    width: 15px;
    display: inline-block;
    opacity: .75;
    position: relative;
    top: -9px;
    left: 18px;
}

.sidebar .account {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;
    border-top: 1px solid #1a1a1a;
    box-sizing: border-box;
    padding: 20px 30px;
    cursor: pointer;
    user-select: none;
    font-family: monospace;
}

.sidebar .account:hover {
    background: #181818;
}

.sidebar .profile-icon {
    height: 35px;
    width: 35px;
    background-color: rgba(0, 102, 255, 0.4);
    text-align: center;
    border-radius: 99px;
    color: rgb(121, 173, 255);
    display: inline-block;
    margin-right: 15px;
}

.sidebar .email {
    position: relative;
    top: 10px;
    vertical-align: top;
    font-size: 11px;
    width: 120px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: #c2c2c2;
}

.nav-icon {
    transform: rotate(90deg);
    filter: invert(100%);
    height: 15px;
    width: 15px;
    display: inline-block;
    opacity: .75;
    position: relative;
    top: -9px;
    left: 18px;
}

.account-menu div:first-child {
    margin-top: 24px;
}

.account-menu div {
    padding: 6px 0;
    margin-top: 6px;
    font-weight: 500;
    cursor: pointer;
}

.account-menu div:hover {
    font-weight: 700;
    text-decoration: underline;
}

.account-menu div:active {
    color: #b4b4b4;
}

.account-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    position: relative;
    top: 5px;
    background-repeat: no-repeat;
}

#view {
    padding: 35px 50px;
    min-width: 600px;
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
}

.view-header {
    position: relative;
    padding-bottom: 40px;
}

.view-header-controls {
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
}

.button {
    background-color: #fff;
    color: #000;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: -2px;
    display: inline-block;
    user-select: none;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    height: 36px;
}

h1 span {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    padding: 0 15px;
}

h1 a, h1 a:visited {
    color: #b2b2b2;
    max-width: 220px;
    height: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
}

h1 a:hover {
    text-decoration: underline;
}


#syncing {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
    color: #8f8f8f;
    margin: 0 20px;
    position: relative;
    top: -8px;
    transition-duration: 1s;
}

@keyframes loadbaralt {
    0%, to {
        left: 0;
        right: 80%
    }
    25%, 75% {
        left: 0;
        right: 0
    }
    50% {
        left: 80%;
        right: 0
    }
}

.gg-loadbar-alt,
.gg-loadbar-alt::before,
.gg-loadbar-alt::after {
    display: inline-block;
    box-sizing: border-box;
    height: 4px;
    border-radius: 4px
}

.gg-loadbar-alt {
    position: relative;

    width: 28px
}

.gg-loadbar-alt::after,
.gg-loadbar-alt::before {
    background: rgba(255, 255, 255, 0.7);
    content: "";
    position: absolute
}

.gg-loadbar-alt::before {
    animation: loadbaralt 2s cubic-bezier(0, 0, .58, 1) infinite
}

.gg-loadbar-alt::after {
    width: 28px;
    opacity: .4
}

.view-header p {
    max-width: 550px;
    padding-top: 15px;
    line-height: 25px;
    color: #c2c2c2;
}

#control-menu {
    user-select: none;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0ms;
    transition-timing-function: ease-out;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    color: #000;
    padding: 30px;
}

#control-menu h3 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 10px;
}

#control-menu p {
    margin-bottom: 15px;
    line-height: 25px;
}

#control-menu input {
    width: 100%;
    padding: 12px 20px 10px 20px;
    background: #f3f3f3;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
}

#control-menu input:hover {
    background: #ececec;
}

#control-menu input:focus {
    background: #ececec;
    outline: 0;
    box-shadow: none;
}

#control-menu button {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 15px;
    padding: 0 20px 0 0;
    transition: 200ms;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100px;
    transition-duration: 0ms;
    height: 25px;
}

#control-menu button:hover {
    background-color: #00b220;
    color: #fff;
}

#control-menu .confirm:hover {
    background-color: #00c42e;
}

#control-menu .cancel:hover {
    background-color: red;
}

#control-menu button span {
    background-color: #fff;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
}

#control-menu button div {
    display: inline-block;
    line-height: 25px;
    vertical-align: top;
}

#modal-notif {
    display: none;
    margin-top: 15px;
    font-weight: 600;
    color: red;
}

@-moz-document url-prefix() {
    #control-menu button div {
        position: relative;
        top: -1px;
    }
}

#click-sink {
    z-index: 50;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.line {
    display: inline-block;
    width: 15px;
    height: 6px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 4px;
}

.line-dark .line {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.load-2 .line:nth-last-child(1) {
    animation: loadingThreeLines 1.5s 1s infinite;
}

.load-2 .line:nth-last-child(2) {
    animation: loadingThreeLines 1.5s .5s infinite;
}

.load-2 .line:nth-last-child(3) {
    animation: loadingThreeLines 1.5s 0s infinite;
}

@keyframes loadingThreeLines {
    0% {
        width: 15px
    }
    50% {
        width: 35px
    }
    100% {
        width: 15px
    }
}


.view-content table {
    width: 100%;
}

.menu-section {
    margin-bottom: 20px;
}

.menu-section h3 {
    text-transform: uppercase;
    font-size: 11px;
    padding: 8px 0;
    margin-bottom: 10px;

    font-family: monospace;
    display: inline-block;
    border-radius: 5px;
}

.menu-wrapper {
    border-radius: 5px;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 40px;
}

.menu-part {
    position: relative;
    overflow: hidden;
    background-color: #1f1f1f;
    padding: 0 20px;
    transition: all 300ms;
}

.menu-part:not(:last-child) {
    margin-bottom: 1px;
}

.menu-head {
    padding: 18px 0;
    user-select: none;
    transition: all 300ms;
}

.menu-part h4 {
    font-weight: 600;
    margin: 10px 0 12px 0;
    font-size: 14px;
    line-height: 0;
}

.menu-head p {
    max-width: 500px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.60);
}

.menu-content {
    padding:10px 0 35px 0;
}


.menu-content input[type=range]::-moz-focus-outer {
    border: 0;
}

.menu-content input[type=text], input[type=password] {
    width: 100%;
    padding: 14px 20px 12px 20px;
    background: #212121;
    border: 1px solid #333333;
    border-radius: 4px;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}

.menu-content input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #626262;
}

.menu-content input:disabled:hover {
    border: 1px solid #333333;
}

.menu-content input[type=text]:focus, input[type=password]:focus {
    border: 2px solid rgb(0, 118, 255);
    background: #171717;
    padding: 13px 20px 11px 19px;
    outline: 0;
    box-shadow: none;
}

.input-desc {
    color: rgba(255, 255, 255, 0.56);
    padding: 12px 0;
}

.menu-content .button {
    margin-top: 20px;
    display: inline-block;
    transition: scale 100ms ease-out;
}

.menu-content .button:active {
    scale: .9;
    transition: 0ms;
}

.error-notif {
    display: inline-block;
    padding-left: 20px;
    color:red;
}

.settings-expand {
    position: absolute;
    right: 20px;
    padding: 0 12px;
    line-height: 30px;
    background: rgba(89, 89, 89, 0.47);
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: scale 100ms ease-out;
}

.settings-expand:hover {
    background: rgba(89, 89, 89, 0.76);
}

.settings-expand:active {
    scale: .9;
    transition: 0ms;
}

.settings-category {
    padding-bottom: 50px;
}

.settings-category h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.22);
}

.settings-category-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.settings-option {
    width: 200px;
    padding: 15px 15px;
    border: 2px solid #232323;
    background-color: #232323;
    border-radius: 5px;
    margin: 25px 25px 0 0;
    cursor: pointer;
}

.settings-option:hover {
    border: 2px solid rgb(0, 118, 255);
}

.settings-option:hover h3 {
    background: #fff;
    color: #000;
}

.settings-option h3 {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.13);
    color: #fff;
    padding: 4px 10px;
    border-radius: 5px;
    margin-bottom: 7px;
    font-weight: 700;
    border-bottom: 1px solid #343434;
    display: inline-block;
}

.settings-option p {
    font-size: 13px;
    color: #b0b0b0;
    line-height: 18px;
    font-weight:500;
}


.form{
    margin:auto;
    width: 260px;
}

.form .logo {
    display: block;
}

.form .link {
    color: #fff;
    text-decoration: none;
    padding-bottom: 7px;
    margin-left: 5px;
    border-bottom: 1px solid #b1b1b1;
}

.form .link:hover {
    color: rgb(0, 188, 1);
}

.hr {
    height: 2px;
    width: 100%;
    background-color: #3d3d3d;
    margin: 0 0 0 0;
}

.account-form {
    padding:10px 0 45px 0;
}


.account-form input[type=range]::-moz-focus-outer {
    border: 0;
}

.account-form input[type=text], input[type=password] {
    width: 100%;
    padding: 14px 20px 12px 20px;
    margin: 8px 0;
    background: #1e1e1e;
    border: 1px solid #333333;
    border-radius: 4px;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}

.account-form input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #626262;
}

.account-form input:disabled:hover {
    border: 1px solid #333333;
}

.account-form input[type=text]:focus, input[type=password]:focus {
    border: 2px solid rgb(0, 118, 255);
    background: #171717;
    padding: 13px 20px 11px 19px;
    outline: 0;
    box-shadow: none;
}

.form .submit {
    user-select: none;
    border: 1px solid #333333;
    margin-top: 10px;
    width: 100%;
    line-height: 50px;
    border-radius:4px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(#1a1a1a, #131313);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13px;
}

.form .submit:hover {
    border: 1px solid #626262;
    color: #fff;
}

.form .submit:active {
    transform: scale(.95);
}

.forgot-email {
    text-align: center;
    font-size: 13px;
    padding: 20px 20px 0 20px;
    color: #5d5d5d;
    line-height: 20px;
}

.form .desc {
    padding: 20px 0 16px 0;

    font-size: 18px;
    color: #a6a6a6;
    line-height: 30px;
}

.forgot-email a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.forgot-email a:visited {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.form h1 {
    font-size: 36px;
}