
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
    background-color: #101213;
}

body {
    font-family: Inter, sans-serif;
    color: #fff;
}

h1 {
    font-size: 32px;
}

.bg-art {
    position: fixed;
    left: calc(50% - 1400px);
    top: 0;
    overflow: hidden;
}

.holster {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: -100;
    opacity: .2;
}

.link {
    color: #fff;
    text-decoration: none;
    padding-bottom: 7px;
    margin-left: 5px;
    border-bottom: 1px solid #b1b1b1;
}

.link:hover {
    color: rgb(0, 188, 1);
}

.logo {
    height: 45px;
    width: 45px;
    margin: 0 0 30px 0;
    border-radius: 2000px;
    background-image: radial-gradient(transparent 27%, #fff);
    cursor: pointer;
}

.formHolder {
    width: 100%;
    display: inline-block;
    margin-top: 80px;
}

.accountForm {
    margin:auto;
    width: 260px;
}

.hr {
    height: 2px;
    width: 100%;
    background-color: #3d3d3d;
    margin: 0 0 0 0;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 14px 20px 12px 20px;
    background: #212121;
    border: 1px solid #333333;
    border-radius: 4px;
    margin: 8px 0;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid rgb(0, 118, 255);
    background: #171717;
    padding: 13px 20px 11px 19px;
    outline: 0;
    box-shadow: none;
}

.submit {
    user-select: none;
    border: 1px solid #333333;
    margin-top: 10px;
    width: 100%;
    line-height: 50px;
    border-radius:4px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(#1a1a1a, #131313);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13px;
}

.submit:hover {
    border: 1px solid rgba(0, 118, 255);
    color: #fff;
}

.submit:active {
    transform: scale(.95);
}

input::-moz-focus-inner {
    border: 0;
}

#notification {
    padding: 20px 0;
    text-align: center;
    line-height: 25px;
    color: orangered;
}

.forgot-email {
    text-align: center;
    font-size: 13px;
    padding: 20px 20px 0 20px;
    color: #5d5d5d;
    line-height: 20px;
}

#email-text {
    font-size: 12px;
    display: block;
    font-family: monospace;
}

.bottom-controls {
    text-align: center;
    padding: 20px 0 0 0;
}

#resend {
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 1px solid #b1b1b1;
    display: inline-block;
    cursor: pointer;
    margin: 20px 25px 20px 0;
}

.desc {
    padding: 0 0 15px 0;

    font-size: 18px;
    color: #a6a6a6;
    line-height: 30px;
}

.forgot-email a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.forgot-email a:visited {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.cancel {

}

#auth {
    font-family: monospace;
}